<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869943296267-s86baitsrt29sncp3s2oknr311i8ars8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869943296267-s86baitsrt29sncp3s2oknr311i8ars8</string>
	<key>API_KEY</key>
	<string>AIzaSyClGE5ZmsBV2OI54eNVNCI-lDoGN5Qkqjk</string>
	<key>GCM_SENDER_ID</key>
	<string>869943296267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Likeu.app</string>
	<key>PROJECT_ID</key>
	<string>send-love-365</string>
	<key>STORAGE_BUCKET</key>
	<string>send-love-365.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869943296267:ios:9684c7a66da5b6a05f620e</string>
</dict>
</plist>